package {{package_name}}

{% if imports %}
import (
	{% for imp in imports %}"{{imp}}"
	{% endfor %}
)
{% endif %}

{% if parameters_struct_code %}
{{parameters_struct_code}}
{% endif %}

{{response_struct_code}}
